<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1>Welcome to City Care Clinic</h1>

    <p>Your health is our priority.</p>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/doctors">Our Doctors</a></li>
            <li><a href="/api/patients">View Patients (JSON)</a></li>
        </ul>
    </nav>

    <section>
        <h2>About Us</h2>
        <p>
            City Care Clinic provides quality healthcare services
            with experienced doctors and modern facilities.
        </p>
    </section>
</body>
</html>